table {
    border-spacing:     0.13em;
    empty-cells:        show;
    text-align:         center;
    vertical-align:     middle;
    
    text-overflow:      clip;
    white-space:        nowrap;
    
    /* Main font style: */
    font-family:        Consolas;
    font-size:          3.4vmin;
    font-weight:        bold;
    user-select:        none;
    
    /* Default font color: */
    color:              black;
}
td {
    /* Crop text that won't fit: */
    overflow-x:         hidden;
    overflow-y:         hidden;
}
.grid {
    cursor:             arrow;
    background-color:   #3f5e77;
    
    table-layout:       fixed;
    width:              95vmin;
    height:             100vmin;
}
/* Generic formatting for any tile in the grid */
.grid td { cursor:  arrow;   }
.lBar    { cursor:  pointer; }
.lBar td { width:   4.3em;   }

/* Coloring for tiles containing no game elements. */
.tile   {
    background-color:   #2e3b48;
    color:              #aebde2;
}
.target {
    background-color:   #5cc679;
}
.player {
    background-color:   #2fc2e0;
}
.trail  {
    background-color:   #3f7ba3;
    color:              #182028;
}
.chaser {
    background-color:   #ff75ce;
}
.nommer {
    background-color:   #2aa8f7;
}
.runner {
    background-color:   #ffdb3f;
}
