:root {
  --lines:    #3f5e77;
  --tileBg:   #2e3b48;
  --tileFg:   #aebde2;
  --target:   #5cc679;
  --player:   #2fc2e0;
  --trailBg:  #3f7ba3;
  --trailFg:  #182028;
  --chaser:   #ff75ce;
  --nommer:   #2aa8f7;
  --runner:   #ffdb3f;
}