/*
Copy and paste these contents into a new .css file.

Your filename should be in lowercase letters.
    Use underscores instead of spaces.
    
When finished, add your filename to index.html's
    script element in the head section.
*/
:root {
  --lines:    ;
  --tileBg:   ;
  --tileFg:   ;
  --target:   ;
  --player:   ;
  --trailBg:  ;
  --trailFg:  ;
  --chaser:   ;
  --nommer:   ;
  --runner:   ;
}